body {
    background-color: #fff;
    color: #000;
    font-family: 'Arial', sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
}

header {
    background-color: #000;
    color: #fff;
    padding: 50px 20px;
}

h1 {
    color: #e74c3c;
    font-size: 3rem;
}

h2 {
    color: #000;
}

a {
    color: #27ae60;
    text-decoration: none;
}
